* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exe1 {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.item1 {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.item2 {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.item3 {
  grid-column: 3 / span 2;
  grid-row: 1;
}

#ketQua {
  border-radius: 5px;
  color: #ffffff;
}

.form-group-exe2,
.form-group-exe3,
.form-group-exe4 {
  display: grid;
  grid-template-columns: 120px 200px;
  gap: 10px;
  align-items: center;
}

.exe {
  display: grid;
  grid-template-columns: 500px 500px;
  row-gap: 30px;
  justify-content: center;
}

.form-group-sub-exe4 {
  display: grid;
  grid-template-columns: 200px 130px;
}

.description-exe > div {
  display: grid;
  grid-template-columns: 80px auto;
  row-gap: 20px;
}

label,
.title {
  font-weight: 600;
}
.paragraph {
  margin-bottom: 0;
}

.description-exe,
.exe1,
.exe2,
.exe3,
.exe4 {
  border: 1px solid red;
  padding: 15px;
  background: rgba(9, 189, 135, 0.329);
}
